CRON_SECRET=
MONGODB_URI=
TELEGRAM_SIGNAL_BOT_TOKEN=
TELEGRAM_SIGNAL_CHAT_ID=
TELEGRAM_ACTION_BOT_TOKEN=
TELEGRAM_ACTION_CHAT_ID=
AUTO_BUY_ENABLED=false
POLYMARKET_PRIVATE_KEY=
POLYMARKET_FUNDER_ADDRESS=
POLYMARKET_USER_ADDRESS=
POLYMARKET_SIGNATURE_TYPE=3
DRY_RUN_DEFAULT=true
