CRON_SECRET=
MONGODB_URI=
TELEGRAM_SIGNAL_BOT_TOKEN=
TELEGRAM_SIGNAL_CHAT_ID=
TELEGRAM_ACTION_BOT_TOKEN=
TELEGRAM_ACTION_CHAT_ID=
TELEGRAM_SIGNAL_5M_BOT_TOKEN=
TELEGRAM_SIGNAL_5M_CHAT_ID=
TELEGRAM_ACTION_5M_BOT_TOKEN=
TELEGRAM_ACTION_5M_CHAT_ID=
AUTO_BUY_ENABLED=false
AUTO_BUY_5M_ENABLED=false
BANKROLL_5M_START_USD=30
POLYMARKET_PRIVATE_KEY=
POLYMARKET_FUNDER_ADDRESS=
POLYMARKET_USER_ADDRESS=
POLYMARKET_SIGNATURE_TYPE=3
POLYGON_RPC_URL=https://polygon-bor-rpc.publicnode.com
DRY_RUN_DEFAULT=true
